<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <!-- jquery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- layer -->
    <script type="text/javascript" src="/layer/layer.js"></script>
    <!-- common.js -->
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">秒杀商品详情</div>
    <div class="panel-body">
        <span id="userTip"> 您还没有登录，请登陆后再操作<br/></span>
        <span>没有收货地址的提示。。。</span>
    </div>
    <table class="table" id="goods">
        <tr>
            <td>商品名称</td>
            <td colspan="3" id="goodsName"></td>
        </tr>
        <tr>
            <td>商品图片</td>
            <td colspan="3"><img id="goodsImg" width="200" height="200"/></td>
        </tr>
        <tr>
            <td>秒杀开始时间</td>
            <td id="startTime"></td>
            <td >
                <input type="hidden" id="remainSeconds" >
<!--                <span th:if="${secKillStatus eq 0}">秒杀到计时:-->
<!--                    <span id="countDown" th:text="${remainSeconds}"></span>秒</span>-->
<!--                <span th:if="${secKillStatus eq 1}">秒杀进行中</span>-->
<!--                <span th:if="${secKillStatus eq 2}">秒杀到已结束</span>-->
                <span id="seckillTip"></span>
            </td>
            <td>
<!--                <form id="secKillForm" method="post" action="/secKill/doSecKill">-->
<!--                    <input type="hidden" name="goodsId" id="goodsId">-->
<!--                    <button class="btn btn-primary btn-block" id="buyButton" type="submit">立即秒杀</button>-->
<!--                </form>-->
                <div class="row">
                    <div class="form-inline">
                        <img id="captchaImg"  width="130" height="32" onclick="refreshcaptcha()" style="display: none"/>
                        <input id="captcha" class="form-control" style="display: none">
                        <button class="btn btn-primary" id="buyButton" type="button" onclick="getSecKillPath()">立即秒杀</button>
                        <input type="hidden" name="goodsId" id="goodsId">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>商品原价</td>
            <td colspan="3" id="goodsPrice"></td>
        </tr>
        <tr>
            <td>秒杀价</td>
            <td colspan="3" id="seckillPrice"></td>
        </tr>
        <tr>
            <td>库存数量</td>
            <td colspan="3" id="stockCount"></td>
        </tr>
    </table>
</div>
</body>
<script>
    $(function () {
        // countDown();
        getDetail();
    });

    function refreshcaptcha() {
        $("#captchaImg").attr("src", "/secKill/captcha?goodsId="+$("#goodsId").val()+"&Time="+new Date());
    }
    
    function getSecKillPath() {
        var goodsId = $("#goodsId").val();
        var captcha = $("#captcha").val();
        g_showLoading();

        $.ajax({
            url:'/secKill/path',
            type:'GET',
            data:{
                goodsId:goodsId,
                captcha:captcha
            },
            success:function (data) {
                if(data.code==200){
                    var path = data.object;
                    doSecKill(path);
                }else{
                    layer.msg(data.message)
                }
            },
            error:function () {
                layer.msg("客户端请求错误")
            }
        })
    }

    function doSecKill(path) {
        $.ajax({
            url: '/secKill/'+ path + '/doSecKill',
            type: 'POST',
            data:{
                goodsId: $("#goodsId").val()
            },
            success:function (data) {
                if(data.code == 200 ){
                    // window.location.href="/orderDetail.htm?orderId="+data.object.id;
                    getResult($("#goodsId").val());
                }else {
                    layer.msg(data.message);
                }
            },
            error:function () {
                layer.msg("客户端请求出错");
            }
        })
    }

    function getResult(goodsId){
         g_showLoading();
         $.ajax({
             url:"/secKill/result",
             type:"GET",
             data:{
                 goodsId: goodsId
             },
             success:function (data){
                 if(data.code == 200){
                     var result = data.object;
                     if(result<0){
                         layer("秒杀失败")
                     }else if(result == 0){
                         setTimeout(function () {
                             getResult(goodsId);
                         },50)
                     }else{
                        layer.confirm("秒杀成功,是否查看订单？",{btn:["确定", "取消"]},
                        function () {
                            window.location.href = "/orderDetail.htm?orderId="+result;
                        },
                        function () {
                            layer.close();
                        }
                        )
                     }
                 }
             },
             error:function () {
                 layer.msg("客户端请求错误");
             }
         })
    }

    function getDetail() {
        var goodsId = g_getQueryString("goodsId");
        $.ajax({
            url: '/goods/detail/' + goodsId,
            type: 'GET',
            success:function (data) {
                if(data.code == 200 ){
                    render(data.object);
                }else {
                    layer.msg("客户端请求出错");
                }
            },
            error:function () {
                layer.msg("客户端请求出错");
            }
        })
    }

    function render(detail) {
        var user = detail.user;
        var goods = detail.goodsVo;
        var remainSeconds = detail.remainSeconds;
        if(user){
            $("#userTip").hide()
        }
        $("#goodsName").text(goods.goodsName);
        $("#goodsImg").attr("src", goods.goodsImg);
        $("#startTime").text(new Date(goods.startDate).format("yyyy-MM-dd HH:mm:ss"));
        $("#remainSeconds").val(remainSeconds);
        $("#goodsId").val(goods.id);
        $("#goodsPrice").text(goods.goodsPrice);
        $("#seckillPrice").text(goods.seckillPrice);
        $("#stockCount").text(goods.stockCount);
        countDown();


    }

    function countDown() {
        var remainSeconds = $("#remainSeconds").val();
        var timeout;

        if(remainSeconds > 0){
            $("#buyButton").attr("disabled", true);
            $("#seckillTip").html("秒杀倒计时:"+remainSeconds+"秒");
            timeout = setTimeout(function () {
                // $("#countDown").text(remainSeconds - 1);

                $("#remainSeconds").val(remainSeconds - 1);

                countDown();
            }, 1000);
        }else if (remainSeconds == 0){
            $("#buyButton").attr("disabled", false);
            if(timeout){
                clearTimeout(timeout);
            }
            $("#seckillTip").html("秒杀进行中")
            $("#captchaImg").attr("src", "/secKill/captcha?goodsId="+$("#goodsId").val()+"&Time="+new Date());
            $("#captcha").show();
            $("#captchaImg").show();
        }else {
            $("#buyButton").attr("disabled", true);
            $("#seckillTip").html("秒杀已结束")
            $("#captcha").hide();
            $("#captchaImg").hide();
        }
    }

</script>
</html>